<header id="header">
<div class="logo">
  <img src="../../../../assets/images/exelence.png" alt="">
</div>
<p>Catégorie</p>
<div class="research-bar">
  <i class="fas fa-search"></i>
  <input type="text" name=""  placeholder="Rechercher">
</div>
<p> Devenir Instructeur</p>
<i class="fa fa-cart-shopping shoping"></i>
<div class="auth-action d-flex gap-3">
  <button type="button" class="btn btn-light">Login</button>
  <button type="button" class="btn btn-dark">S'inscrire</button>

</div>
<div class="select d-flex gap-3">
  <select class="form-select" aria-label="Default select example">
    <option value="1">Ar</option>
    <option value="2">Fr</option>
    <option value="3">Eng</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option value="1">EUR</option>
    <option value="2">DT</option>
    <option value="3">DLR</option>
  </select>
</div>
</header>
